backend/node_modules
backend/src/security.js
frontend/node_modules
tapper/ca.key
tapper/ca.crt
tapper/ca.srl
tapper/client.key
tapper/client.crt
tapper/client.csr
broker/server.key
broker/server.csr
broker/server.crt
broker/ca.crt
tapper/v3.ext
tapper/info
tapper/tapper.conf